:root {
  --pri-color: hsl(0, 0%, 100%);
  --sec-color: hsl(210, 90%, 41%);
  --trd-color: hsl(0, 0%, 5%);
  --transition: .3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-selection {
  color: var(--sec-color);
  background-color: var(--pri-color);
}

::selection {
  color: var(--sec-color);
  background-color: var(--pri-color);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--sec-color);
  margin: 0;
  overflow-x: hidden;
}

p, a, input {
  color: var(--trd-color);
  font-family: Kantumruy Pro, sans-serif;
  font-size: 1.2rem;
}

nav {
  width: 100%;
  height: 90px;
  position: fixed;
  display: flex;
  padding: 0 65px;
  align-items: center;
  z-index: 1;
  container: nav/inline-size;
}
nav .logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
nav .logo img {
  height: 3rem;
}
nav .logo h2 {
  margin-left: 12px;
  color: var(--pri-color);
}
nav .menu {
  flex: 4;
}
nav .menu .links {
  display: flex;
  padding: 0;
  justify-content: center;
  list-style-type: none;
}
nav .menu .links li {
  padding: 12px;
}
nav .menu .links a {
  color: var(--pri-color);
  text-decoration: none;
  text-transform: uppercase;
}
nav .menu .links a::after {
  width: 2px;
  height: 2px;
  background: var(--pri-color);
  content: "";
  position: relative;
  display: block;
  left: 50%;
  transition: var(--transition);
}
nav .menu .links a:hover::after {
  width: 100%;
  left: 0;
}
nav .menu .button {
  width: 60px;
  height: 60px;
  background: none;
  position: absolute;
  display: none;
  bottom: 0;
  left: 50%;
  translate: -50%;
  border: none;
  border-radius: 50%;
  color: var(--sec-color);
  font-size: 2rem;
  transition: rotate 1s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
nav .login {
  flex: 1;
  padding: 12px;
  background: none;
  color: var(--pri-color);
  border: var(--pri-color) 1px solid;
  border-radius: 2rem;
  transition: background-color var(--transition);
}
nav .login:hover {
  background-color: var(--pri-color);
  color: var(--sec-color);
}

@container nav (max-width: 700px) {
  nav .menu {
    width: 60px;
    height: 60px;
    background: var(--pri-color);
    box-sizing: content-box;
    position: fixed;
    bottom: -80vh;
    left: 50%;
    translate: -50%;
    overflow: hidden;
    border: var(--sec-color) 2px solid;
    border-radius: 50%;
    transition: width 1s, height 1s, border-radius 1s;
  }
  nav .menu .links { /* , .button */
    display: block;
  }
  nav .menu .button {
    display: flex;
  }
  nav .menu .links {
    opacity: 0;
    text-align: center;
    transition: opacity 0.5s;
  }
  nav .menu .links a {
    color: var(--sec-color);
  }
  nav .menu[data-nav=true] {
    width: 200px;
    height: 300px;
    border-radius: 2rem;
  }
  nav .menu[data-nav=true] .links {
    opacity: 1;
  }
  nav .menu[data-nav=true] .button {
    rotate: 45deg;
  }
}
/* @container nav (max-width: 500px) {
    nav {
        display: none !important;
    }
} */
header {
  height: inherit;
  background-color: var(--pri-color);
}
header .animated-wallpaper {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: inset(0 0 1px 0);
          clip-path: inset(0 0 1px 0);
}
header .title {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 65px;
  inset: 50%;
  translate: -50% -50%;
  text-align: center;
  text-shadow: 2px 2px 2px hsla(0deg, 0%, 0%, 0.25);
  color: var(--pri-color);
  font-family: Quicksand, sans-serif;
  font-size: 3rem;
}

main {
  height: inherit;
}
main #temp {
  position: relative;
  min-height: 100vh;
  background-color: var(--pri-color);
  box-shadow: 0px -50px 50px #fff;
}/*# sourceMappingURL=style.css.map */