:root {
    --pri-color: hsl(0, 0%, 100%);
    --sec-color: hsl(210, 90%, 41%);
    --trd-color: hsl(0, 0%, 5%);
    --transition: .3s ease-in-out;
    --border-radius: 2rem;
}

@mixin object($width, $height, $background) {
	width: $width;
	height: $height;
	background: $background;
}

@mixin center {
	display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
}

::selection {
    color: var(--sec-color);
    background-color: var(--pri-color);
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: #0000;
}

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

nav {
    @include object(100%, 90px, null);
    position: fixed;
    display: flex;
    padding: 0 65px;
    align-items: center;
    z-index: 1;
    container: nav / inline-size;

    a, input {
        color: var(--pri-color);
        font: {
            family: Kantumruy Pro, sans-serif;
            size: 1.2rem;
        }
    }

    .logo {
        @include center;
        flex: 1;
        text-decoration: none;

        img {
            height: 3rem;
        }

        h2 {
            margin-left: 12px;
        }
    }

    .menu {
        flex: 4;

        .links {
            display: flex;
            padding: 0;
            justify-content: center;
            list-style-type: none;
    
            li {
                padding: 12px;
            }
            
            a {
                text-decoration: none;
                text-transform: uppercase;
    
                &::after {
                    @include object(2px, 2px, var(--pri-color));
                    content: "";
                    position: relative;
                    display: block;
                    left: 50%;
                    transition: var(--transition);
                }
                
                &:hover::after {
                    width: 100%; 
                    left: 0;
                }
            }
        }

        .button {
            @include object(60px, 60px, none);
            position: absolute;
            display: none;
            padding: 0;
            bottom: 0;
            left: 50%;
            translate: -50%;
            border: none;
            border-radius: 50%;
            color: var(--sec-color);
            font-size: 2rem;
            transition: rotate 1s;
            cursor: pointer;
        }
    }

    .login {
        flex: 1;
        padding: 12px;
        background: none;
        border: var(--pri-color) 1px solid;
        border-radius: var(--border-radius);
        transition: background-color var(--transition);

        &:hover {
            background-color: var(--pri-color);
            color: var(--sec-color);
        }
    }
}

@container nav (max-width: 650px) {
    nav .menu {
        @include object(60px, 60px, var(--pri-color));
        position: fixed;
        bottom: -75vh;
        left: 50%;
        translate: -50%;
        overflow: hidden;
        border: var(--sec-color) 2px solid;
        border-radius: 50%;
        transition: all 1s;

        .links, .button {
            display: block;
        }

        .links {
            opacity: 0;
            text-align: center;
            transition: opacity .5s;
            
            a {
                color: var(--sec-color);
            }
        }

        &[data-nav="true"] {
            @include object(200px, 300px, null);
            border-radius: var(--border-radius);
            
            .links {
                opacity: 1;
            }
            
            .button {
                rotate: 45deg;
            }
        }
    }
}

@container nav (max-width: 400px) {     // Temporary
    nav .logo h2 {
        display: none;
    }
}

header {
    @include center;
    height: inherit;
    background-color: var(--pri-color);

    .animated-wallpaper {
        @include object(100%, 100%, null);
        object-fit: cover;
        clip-path: inset(0 0 1px 0);   // Black line appearing below <video> bug
    }

    .title {
        position: absolute;
        padding: 65px;
        text-align: center;
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.25);
        color: var(--pri-color);
        font: {
            family: Quicksand, sans-serif;
            size: 3rem;
        }
    }
}

// Placeholder
main {
    height: inherit;

    #temp {
        position: relative;
        min-height: 100vh;
        background-color: var(--pri-color);
        box-shadow: 0px -50px 50px #fff;
    }
}

footer {
    background-image: linear-gradient(var(--pri-color), #0152bc);
    height: 200px;
}