:root {
    --pri-color: hsl(0, 0%, 100%);
    --sec-color: hsl(210, 90%, 41%);
    --sec2-color: hsla(210, 90%, 41%, 50%);
    --trd-color: hsl(0, 0%, 5%);
    --light-gray: hsl(0, 0%, 50%);
    --dark-gray: hsl(0, 0%, 25%);
    --transition: .3s ease-in-out;
    --border-radius: .5rem;
    --border-radius-big: 2rem;
    --box-shadow: inset 0 0 15px hsla(225, 51%, 44%, 0), inset 0 0 20px hsla(0, 0%, 100%, 0), 7px 7px 15px hsla(225, 51%, 44%, 0.15), inset 0px 0px 4px hsla(0, 0%, 100%, 0.2);
    --box-shadow-button: inset 0 0 15px hsla(225, 51%, 44%, 0), inset 0 0 20px hsla(0, 0%, 100%, 0), 7px 7px 15px rgba(55, 84, 170,.15), -7px -7px 20px hsl(0, 0%, 100%), inset 0px 0px 4px hsla(0, 0%, 100%, 0.2);
    --box-shadow-button-hover: inset 7px 7px 15px hsla(225, 51%, 44%, 0.15), inset -7px -7px 20px hsl(0, 0%, 100%), 0px 0px 4px hsla(0, 0%, 100%, 0.2);
}

@mixin default($position, $display) {
    position: $position;
    display: $display;
}

@mixin object($width, $height, $background) {
	width: $width;
	height: $height;
	background: $background;
}

@mixin center {
	display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
}

::selection {
    color: var(--pri-color);
    background-color: var(--sec-color);
}

/* .button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0 var(--border-radius);
    font-size:  1.1rem;
    padding: 12px;
} */

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /* margin: 0;   Implement this eventually
    padding: 0;
    font: inherit; */
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;

    font: {
        family: Kantumruy Pro, sans-serif;
        size: 1.2rem;
    }
}

nav {
    @include object(100%, 90px, null);
    @include default(fixed, flex);
    top: 0;
    padding: 0 65px;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(10px);
    transition: top 1s, background-color 1s;
    container: nav / inline-size;

    a, input {
        color: var(--pri-color);
    }

    .logo {
        @include center;
        flex: 1;
        
        img {
            height: 48px;
        }
    }

    .menu {
        flex: 4;
        /* backdrop-filter: blur(10px); Buggy in Edge - fix! */
        transition: opacity 1s, bottom 1s, border-radius 1s, width 1s, height 1s;   // Fix this

        .links {
            display: flex;
            padding: 0;
            justify-content: center;
            list-style-type: none;
    
            li {
                padding: 12px;
            }
            
            a {
                text: {
                    decoration: none;
                    transform: uppercase;
                }
    
                &::after {
                    @include object(2px, 2px, var(--pri-color));
                    @include default(relative, block);
                    content: "";
                    left: 50%;
                    transition: var(--transition);
                }
                
                &:hover::after {
                    width: 100%;
                    left: 0;
                }
            }
        }

        .button {
            @include object(60px, 60px, none);
            @include default(absolute, none);
            padding: 0;
            bottom: 0;
            left: 50%;
            translate: -50%;
            border: none;
            border-radius: 50%;
            color: var(--pri-color);
            font-size: 2rem;
            transition: rotate 1s;
            cursor: pointer;
        }
    }

    .login {
        flex: 1;
        padding: 12px;
        font-size:  1.2rem;
        background: none;
        border: var(--pri-color) 1px solid;
        border-radius: var(--border-radius-big);
        transition: background-color var(--transition);

        &:hover {
            background-color: var(--pri-color);
            color: var(--sec-color);
        }
    }

    &[data-scroll="top"] {
        background: none;
    }
    
    &[data-scroll="up"] {
        top: 0;
        background-color: var(--sec2-color);

        .menu {
            bottom: -75vh;
            opacity: 1;
        }

        /* .menu {
            display: block;
        } */
    }
    
    &[data-scroll="down"] {
        top: -90px;

        .menu {
            bottom: calc(-75vh - 90px);
            opacity: 0;

            &[data-menu="true"] {
                opacity: 1;
            }
        }

        /* .menu {
            display: none;

            &[data-menu="true"] {
                display: block;
            }
        } */
    }
}

/* @media (max-width: 650px) {
    nav {
        top: auto;
        bottom: 0;
    } */
@container nav (max-width: 650px) {
    nav .menu {
        @include object(60px, 60px, var(--sec2-color));
        position: fixed;
        bottom: -75vh;
        left: 50%;
        translate: -50%;
        overflow: hidden;
        border: var(--pri-color) 1px solid;
        border-radius: 50%;

        .links, .button {
            display: block;
        }

        .links {
            opacity: 0;
            text-align: center;
            transition: opacity .5s;
        }

        &[data-menu="true"] {
            @include object(200px, 300px, null);
            border-radius: var(--border-radius-big);
            
            .links {
                opacity: 1;
            }
            
            .button {
                rotate: 45deg;
            }
        }
    }
}

header {
    @include center;
    height: inherit;
    background-color: var(--pri-color);

    .animated-wallpaper {
        @include object(100%, 100%, null);
        object-fit: cover;
        clip-path: inset(0 0 1px 0);   // Black line appearing below <video> bug: Check again later!!
    }

    .title {
        position: absolute;
        padding: 65px;
        text-align: center;
        text-shadow: 0px 9px 10px rgba(56, 56, 56, 0.655);
        color: var(--pri-color);
        font: {
            family: Quicksand, sans-serif;
            size: 4rem;
        }
    }
}

#login {
    display: block;
    width: 25rem;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    opacity: 0;
    transition: opacity var(--transition);

    .close-button {
        @include object(3rem, 3rem, none);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        border: none;
        border-radius: 0 var(--border-radius);
        transition: box-shadow var(--transition);
        cursor: pointer;

        &:hover {
            box-shadow: var(--box-shadow-button-hover);
        }
    }

    .continue-text {
        font-size: 1.1rem;
    }

    .login-with {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
        
        a {
            @include center;
            flex: .3;
            aspect-ratio: 5 / 3;
            background-color: var(--pri-color);
            color: var(--sec-color);
            text-decoration: none;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow-button);
            transition: box-shadow var(--transition);

            &:hover {
                box-shadow: var(--box-shadow-button-hover);
            }
        }
    }

    .separator {
        border: var(--light-gray) 1px dashed;

        &::before {
            content: "or";
            position: absolute;
            left: 50%;
            translate: -50% -50%;
            padding: 0 6px;
            background-color: var(--pri-color);
        }
    }

    .login-input {
        width: 100%;
        margin: 1rem 0;
        padding: .5rem;
        font-size: 1.1rem;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        border: none;
        font-family: Kantumruy Pro, sans-serif;
    }

    .continue-button {
        @include object(100%, null, var(--sec-color));
        color: var(--pri-color);
        padding: 12px;
        font-size:  1.1rem;
        border: var(--sec-color) 1px solid;
        border-radius: var(--border-radius-big);
        transition: background-color var(--transition);
        cursor: pointer;

        &:hover {
            background-color: var(--pri-color);
            color: var(--sec-color);
        }
    }

    .sign-up {
        font-size: 1rem;
        color: var(--dark-gray);
    }

    &[open] {
        opacity: 1;
    }

    &::backdrop {
        background-color: var(--pri-color);
        backdrop-filter: blur(10px);
    }
}

// Placeholder
main {
    height: inherit;

    #temp {
        position: relative;
        min-height: 100vh;
        background-color: var(--pri-color);
        box-shadow: 0px -50px 50px var(--pri-color);
    }
}