:root {
    --pri-color: hsl(0, 0%, 100%);
    --sec-color: hsl(210, 90%, 41%);
    --trd-color: hsl(0, 0%, 5%);
    --transition: .3s ease-in-out;
}

::-webkit-scrollbar {
    width: 0;
}

::selection {
    color: var(--sec-color);
    background-color: var(--pri-color);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

p, a, input {
    font: {
        family: Kantumruy Pro, sans-serif;
        size: 1.2rem;
    }
    color: var(--trd-color);
}

nav {
    position: absolute;
    display: flex;
    width: 100%;
    height: 90px;
    padding: 0 65px;
    align-items: center;
    z-index: 1;
    container: nav / inline-size;

    .logo {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        img {
            height: 3rem;
        }

        h2 {
            margin: 0 0 0 12px;
            color: var(--pri-color);
        }
    }

    .links {
        display: flex;
        flex: 4;
        justify-content: center;
        align-items: center;
        padding: 0;
        list-style-type: none;

        li {
            padding: 12px;
        }
        
        a {
            color: var(--pri-color);
            text-decoration: none;
            text-transform: uppercase;

            &::after {
                content: "";
                position: relative;
                display: block;
                width: 2px;
                height: 2px;
                left: 50%;
                background: var(--pri-color);
                transition: var(--transition);
            }
            
            &:hover::after {
                width: 100%; 
                left: 0;
            }
        }
    }

    .login {
        flex: 1;
        padding: 12px;
        background: none;
        color: var(--pri-color);
        border: var(--pri-color) 1px solid;
        border-radius: 2rem;
        transition: background-color var(--transition);

        &:hover {
            background-color: var(--pri-color);
            color: var(--sec-color);
        }
    }
}

@container nav (max-width: 700px) {
    .links {
        display: none !important;
    }
}

header {
    height: inherit;

    .animated-wallpaper {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: inset(0 0 1px 0);   // Black line appearing below <video> bug
    }

    .title {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 65px;
        inset: 50%;
        translate: -50% -50%;
        text-align: center;
        text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.25);
        color: var(--pri-color);
        font: {
            family: Quicksand, sans-serif;
            size: 3rem;
        }
    }
}

main {
    height: inherit;

    section {
        min-height: 100vh;
    }

    #temp {
        position: relative;
        box-shadow: 0px -50px 50px #fff;
    }
}